In [89]:
import pandas as pd

In [101]:
def classificacao_grupo(valor):
    if valor >= 2 and valor <= 69:
        return 1
    elif valor >= 71:
        return 0
    else:
        return 2
    
def nomeando_classe(valor):
    if valor == 1:
        return '6-Tinto'
    elif valor == 70:
        return 'BRANCAS E ROSADAS'

In [109]:
caminho_viniferas = r'/home/eugenio/Documentos/Pos/PosTechDataScience_Fiap/Grupo_posFiap/bases/vinho/Processamento/ProcessaViniferas.csv'
tabela_processaViniferas = pd.read_csv(caminho_viniferas, sep='	')
tabela_processaViniferas['id_produto'] = tabela_processaViniferas['id'].astype(str) + '-' + tabela_processaViniferas['cultivar']
tabela_id_produto = tabela_processaViniferas[['id', 'id_produto']]

tabela_processaViniferas_colunas = ['1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

producaoVinifera_anual = tabela_processaViniferas.reset_index().melt(id_vars='id', value_vars=tabela_processaViniferas_colunas)
producaoVinifera_anual.columns = ['id', 'ano', 'processado']
producaoVinifera_anual = producaoVinifera_anual.query("id == 1 | id == 70")
producaoVinifera_anual['id'] = producaoVinifera_anual['id'].map(nomeando_classe)
producaoVinifera_anual['tipo_processo'] = 'Viniferas'
producaoVinifera_anual.head()

                    id   ano processado tipo_processo
0              6-Tinto  1970   10448228     Viniferas
69   BRANCAS E ROSADAS  1970   18858541     Viniferas
134            6-Tinto  1971   11012833     Viniferas
203  BRANCAS E ROSADAS  1971   22168237     Viniferas
268            6-Tinto  1972   10798824     Viniferas

In [108]:
caminho_Mesa = r'/home/eugenio/Documentos/Pos/PosTechDataScience_Fiap/Grupo_posFiap/bases/vinho/Processamento/ProcessaMesa.csv'
tabela_processaMesa = pd.read_csv(caminho_Mesa, sep=';')
tabela_processaMesa['id_produto'] = tabela_processaMesa['id'].astype(str) + '-' + tabela_processaMesa['cultivar']
tabela_id_produto = tabela_processaMesa[['id', 'id_produto']]

tabela_processaMesa_colunas = ['1970', '1971', '1972', '1973', '1974', '1975', '1976',
       '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

producaoVinifera_anual = tabela_processaMesa.reset_index().melt(id_vars='id', value_vars=tabela_processaMesa_colunas)
producaoVinifera_anual.columns = ['id', 'ano', 'processado']
producaoVinifera_anual = producaoVinifera_anual.query("id == 1 | id == 70")
producaoVinifera_anual['id'] = producaoVinifera_anual['id'].map(nomeando_classe)
producaoVinifera_anual['tipo_processo'] = 'Mesa'
producaoVinifera_anual.head()

         id   ano processado tipo_processo
0   6-Tinto  1970      56976          Mesa
10  6-Tinto  1971      43390          Mesa
20  6-Tinto  1972       4428          Mesa
30  6-Tinto  1973       8939          Mesa
40  6-Tinto  1974     125563          Mesa

In [94]:
# producaoVinifera_anual = tabela_processaViniferas.reset_index().melt(id_vars='id', value_vars=tabela_processaViniferas_colunas)
# producaoVinifera_anual.columns = ['id', 'ano', 'valor']
# producaoVinifera_anual = pd.merge(producaoVinifera_anual, tabela_id_produto, on = 'id', how='left')
# producaoVinifera_anual['classe_grupo'] = producaoVinifera_anual['id'].map(classificacao_grupo)
# producaoVinifera_anual = producaoVinifera_anual.query("classe_grupo == 0 | classe_grupo == 1")
# producaoVinifera_anual.head()

In [97]:
# producaoVinifera_anual_agrupado = producaoVinifera_anual.groupby(['classe_grupo', 'ano']).agg({'valor': 'sum'}).reset_index()
# producaoVinifera_anual_agrupado.head()

In [98]:
# producaoVinifera_anual[producaoVinifera_anual['produto'].str.contains('BRANCAS E ROSADAS')]

In [100]:
# tabela_processaViniferas.head()